/* Main Styles */
body {
    background: #41b9e7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #2fbcb4, #41b9e7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #2fbcb4, #41b9e7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #2fbcb4, #41b9e7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #2fbcb4, #41b9e7); /* Standard syntax */
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgb(0, 13, 29);
    font-family: 'Open Sans', sans-serif;    
  }

h1 {
    font-family: 'Scope One', serif;
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 13, 29);    
}

h2 {
    font-family: 'Scope One', serif;
    font-size: 18px;    
}

/* Conatiner Style */
.container{
    max-width: 500px;    
    margin: auto;
    margin-top: 25px;    
    overflow: auto;
    padding: 0px 25px 25px 25px;
    min-height: calc(100vh - 80px);        
}
.content {
    background: transparent; /* For browsers that don't support opacity */
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: auto;
}

/* Footer */
.footer {
    height: 50px;
    margin: 0px 25px 5px 0px;
}

.footer img {
    max-width: 35px;
    float: right;
}

.footer img:hover{
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
}